*{
    margin: 0;
    padding: 0;
    
}
.zone{
padding: 30px 50px;
margin:40px 60px;
display: inline-block;
color:white;
font-size: 2em;
border-radius:4px;
border:1px solid #bbb;
transition: all 0.3s linear;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: orange;
}